html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: var(--footer-h);         
}

.main-area {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.global-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--footer-h);                 /* fixe la hauteur */
  background: #445c3f;              /* pour bien voir */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  z-index: 105;/* au-dessus si besoin */
  box-shadow: 0 -2px 8px rgba(0,0,0,0.15);
}