<div class="mall-canvas-wrapper">

  <!-- Sélecteur d'étage -->
  <div class="etage-selector" *ngIf="!showInteriorView">
    <button 
      mat-raised-button 
      [color]="currentEtage === 'RC' ? 'primary' : ''" 
      (click)="setEtage('RC')"
      [disabled]="currentEtage === 'RC'"
    >
      Rez-de-chaussée
    </button>

    <button 
      mat-raised-button 
      [color]="currentEtage === 'FC' ? 'primary' : ''" 
      (click)="setEtage('FC')"
      [disabled]="currentEtage === 'FC'"
    >
      1ᵉʳ étage
    </button>
  </div>

  <div class="pixi-container">

    <app-mall-map
      #mallMap
      *ngIf="!showInteriorView"
      [types]="types"
      [boxs]="boxs"                     
      [boutiques]="boutiques"
      [contrats]="contrats"
      [editMode]="editMode"
      [currentEtage]="currentEtage"    
      (selectBox)="enterInteriorView($event)"
      (editBox)="onEditBox($event)"
      (statusChange)="onStatusChange($event)"
    ></app-mall-map>

    <app-box-interior
      *ngIf="showInteriorView && selectedBox && selectedType"
      [box]="selectedBox!"
      [type]="selectedType!"
      [contrat]="selectedContrat"
      [boutique]="selectedBoutique"
      (back)="returnToMap()"
    ></app-box-interior>

  </div>

  <button 
    class="fab-edit" 
    mat-fab 
    color="primary" 
    (click)="toggleEditMode()"
    matTooltip="{{ editMode ? 'Quitter le mode édition' : 'Modifier les boxes' }}"
  >
    <mat-icon>{{ editMode ? 'close' : 'edit' }}</mat-icon>
  </button>
</div>