
// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}/* Garet */
@font-face {
  font-family: 'Garet';
  src: url('assets/fonts/Garet-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* New Icon Script */
@font-face {
  font-family: 'New Icon Script';
  src: url('assets/fonts/New-Icon-Script-Exfont1157.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

/* Perandory Condensed */
@font-face {
  font-family: 'Perandory Condensed';
  src: url('assets/fonts/perandory-condensed.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Garet', sans-serif; /* Par défaut pour tout le texte */
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// boutique-home.component.scss (et global si possible)
:root {
  --bg-main:       #f8f9f5;       // très clair, presque blanc cassé
  --text-primary:  #3a4a2f;       // vert foncé très discret
  --text-secondary:#6b7d5e;       // vert moyen-gris
  --accent:        #7d936c;       // vert doux (utilisé avec parcimonie)
  --border:        #ccd5b5;       // vert très pâle pour bordures
  --card-bg:       #ffffff;
}




